<html>
	<head>
		<meta charset="utf-8" />
		<style type="text/css">
		.static {
			height: 200px;
			width: 100px;
		}
		.class-red {
			background: red;
		}
		.class-blue {
			background: blue;
		}
		</style>
	</head>
	<body id="app">
		<div class="static" v-bind:class="{ 'class-red': color == 'red', 'class-blue': color == 'blue' }"></div>

		<input type="radio" value="red" name="background" v-model="color" /> Vermelho
		<input type="radio" value="blue" name="background" v-model="color" /> Azul
	</body>
	<script src="js/vue.js"></script>
	<script src="js/js.js"></script>
</html>